{% load posts_tags %}
<div class="media">
    <div class="p-3 border bg-light">
        <div class="container">
            {% show_categories %}
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
    <div class="media">
        <div class="p-3 border bg-light">
            <div class="container">
                {% show_following %}
            </div>
        </div>
    </div>
    <div class="media">
        <div class="p-3 border bg-light">
            <div class="container">
                {% show_followers %}
            </div>
        </div>
    </div>
{% endif %}

{% if request.user.is_authenticated %}
    <div class="media">
        <div class="p-3 border bg-light">
            <div class="container">
                <h4>Chats</h4>
                <a href="{% url 'room' 'main' %}" style="text-decoration: none">Main Chat</a>
            </div>
        </div>
    </div>
{% endif %}