{% load posts_tags %}
<div class="media">
    <div class="p-3 border bg-light">
        <div class="container">
            {% show_categories %}
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
    <div class="media">
        <div class="p-3 border bg-light">
            <div class="container">
                {% show_following %}
            </div>
        </div>
    </div>
    <div class="media">
        <div class="p-3 border bg-light">
            <div class="container">
                {% show_followers %}
            </div>
        </div>
    </div>
{% endif %}