{% extends "basic.html" %}
{% block title %}user{% endblock %}
{% block content %}
<div class="inner">
    <h4 class="card-title">User information</h4>
</div>
<div class="card mb-3">
    <h5 class="card-title">Username: {{ author_info.username }}</h5>
    <h5 class="card-title">Date of registration: {{ author_info.date_joined }}</h5>
    <h5 class="card-title">E-mail address: {{ mail }}</h5>

    <form action="" method="post" class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <input type="hidden" name="_method" value="add" id="input_field">
          <input type="hidden" name="is_friend" value="{{ is_friend }}" id="is_friend">
          <button class="btn btn-outline-success my-2 my-sm-0" id="follow" type="submit">Follow</button>

    </form>
    <form action="" method="post" class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <input type="hidden" name="_method" value="remove" id="input_field">
          <button class="btn btn-outline-success my-2 my-sm-0" id="unfollow" type="submit">Unfollow</button>
    </form>

</div>
{% endblock %}