{% extends "basic.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="inner">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Authorization</button>
    </form>
</div>
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<div>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>

{% endif %}
{% endblock %}
