{% extends "basic.html" %}
{% block title %}main{% endblock %}
{% block content %}
    <div>
        {% if post %}
            {% for pos in post %}
                <li class="nav-item">
                    {{ pos.author }}
                </li>
                <li class="nav-item">
                    {{ pos.category }}
                </li>
                <li class="nav-item">
                    {{ pos.body }}
                </li>
            {% endfor %}
        {% else %}
            No posts
        {% endif %}
    </div>
{% endblock %}
