{% extends "basic.html" %}
{% block title %}detail{% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Category: {{ post_item.category }}
    </div>
    <h5 class="card-title">{{ post_item.title }}</h5>
    <h5 class="card-title">From: {{ post_item.author }}</h5>
    <div class="card-body">
        {% if post_item.photo %}
            <img src="{{ post_item.photo.url }}" alt="" width="650" class="float-left mr-3">
        {% else %}
            <img src="https://picsum.photos/id/1060/650/235/?blur=2" alt="" class="float-left mr-3">
        {% endif %}
        <div class="card-body">
            <div class="media">
                <div class="p-3 border bg-light">
                    <p class="card-text" style="text-align: left">{{ post_item.body }}</p>
                </div>
            </div>
        </div>
    </div>
    <h5 class="card-title">Views: {{ post_item.views }} Likes: {{ post_item.likes }} Dislikes: {{ post_item.dislikes }}</h5>






    <div class="main_buttons">

        <i class="fa-regular fa-heart fa-3x"></i>
        <i class="fa-solid fa-heart fa-3x"></i>


{#        <input type="hidden" id="like" value={{ post_item.likes }}>#}
{#        <button type="button" class="btn btn-outline-success" id="like_button" style="float: left; margin-left: 40%">Like</button>#}


        <script>
                {#$(document).ready(function() {#}
                {#    $('#like_button').click(function() {#}
                {#        var likes = $("#like").attr("value");#}
                {#    alert(likes);#}
                {#    });#}
                {#    });#}



        </script>




    {% if post_item.author.pk == request.user.pk %}
        <div class="main_buttons">
            <a class="btn btn-outline-primary" style="float: left; margin-left: 20%" href="{% url  'update' post_item.pk %}">Update</a>
            <a class="btn btn-outline-danger" style="float: right; margin-right: 20%" href="{% url  'delete' post_item.pk %}">Delete</a>
        </div>
    {% endif %}
    {% if comments %}
        <h1 class="comments-title">Comments <span class="badge bg-secondary">{{ count_comments }}</span></h1>
        {% for comment in comments %}
            <div class="card-body">
                    <div class="media">
                        <div class="p-3 border bg-light">
                            <div class="container">
                                <div class="be-comment-block">
                                    <div class="be-comment">
                                        <div class="be-comment-content">
                                            <span class="be-comment-name">
                                                User: {{ comment.name }} Email: {{ comment.email }}
                                            </span>
                                            <span class="be-comment-time">
                                                {% if comment.created_on.time.second != comment.updated_on.time.second %}
                                                    Corrected: {{ comment.updated_on }}
                                                {% endif %}
                                                 Created: {{ comment.created_on }}
                                            </span>
                                            <p class="be-comment-text" style="text-align: left">
                                                {{ comment.body }}
                                            </p>
                                            {% if comment.name.pk == request.user.pk %}
                                                <p style="text-align: left">
                                                    <a href="{% url 'update_comment' comment.pk %}" style="text-decoration: none; font-size: 13px"> Correct your comment </a>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        {% endfor %}
    {% else %}
        No comments
    {% endif %}
    {% if user.is_authenticated %}
        <div class="inner">
            <form action="{% url 'view_news' post_item.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Add comment</button>
            </form>
        </div>
    {% else %}
        <p style="text-align: center">
            To add a comment <a href="{% url 'register' %}" style="text-decoration: none">Register</a> or <a href="{% url 'login' %}" style="text-decoration: none">Login</a>
        </p>
    {% endif %}
</div>
{% endblock %}