{% extends "basic.html" %}
{% block title %}detail{% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Category: {{ post_item.category }}
    </div>
    <h5 class="card-title">{{ post_item.title }}</h5>
    <div class="card-body">
        {% if post_item.photo %}
            <img src="{{ post_item.photo.url }}" alt="" width="650" class="float-left mr-3">
        {% else %}
        <img src="https://picsum.photos/id/1060/650/235/?blur=2" alt="" class="float-left mr-3">
        {% endif %}
        <p class="card-text" style="text-align: left">{{ post_item.body }}</p>
    </div>
    <h5 class="card-title">Views: {{ post_item.views }} Likes: {{ post_item.likes }} Dislikes: {{ post_item.dislikes }}</h5>
    <div class="card-footer text-muted">
        {{ post_item.created_at }}
    </div>



    {% if comments %}
        <h1 class="comments-title">Comments ({{ count_comments }})</h1>
        {% for comment in comments %}
            <div class="card-body">
                    <div class="media">
                        <div class="p-3 border bg-light">


                            <div class="container">
                                <div class="be-comment-block">
                                    <div class="be-comment">
                                        <div class="be-comment-content">
                                            <span class="be-comment-name">
                                                User: {{ comment.name }} Email: {{ comment.email }}
                                            </span>
                                            <span class="be-comment-time">
                                                {{ comment.created_on }}
                                            </span>
                                            <p class="be-comment-text" style="text-align: left">
                                                {{ comment.body }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
            </div>
        {% endfor %}
    {% else %}
        No comments
    {% endif %}


    <div class="inner">
        <form action="{% url 'view_news' post_item.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Add comment</button>
        </form>
    </div>


</div>


{% endblock %}